{margin:0;padding:0}

body {
  font-size: 12px;
  font-family: sans-serif;
}

.table {
    border-collapse:collapse;
    margin-bottom:15px;
    width:100%;
    font-size: 12px;
}

.table td {
    border-bottom:1px
    solid #F0F0EE;
}

.table td span {
	font-size: 120%; 
	font-weight: bold;
}

.table td a {
	color: rgb(215, 0, 0);
	font-size: 125%; 
	font-weight: bold; 
	line-height: 1.5; 
	text-decoration: none;
}

.table tr.even {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EBEBEB none repeat scroll 0 0;
}

.table th {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#006666 none repeat scroll 0 0;
    color:#FFFFFF;
    font-weight:normal;
    padding:3px;
}

#container {
  min-width: 960px;
}

#header {
   border-bottom:10px solid #EEEEEE;
   clear:both;
   display:table;
   margin:0 auto 1.33em;
   width:100%;
}

#header-container {
   margin:0 auto;
   min-width:988px;
   text-align:left;
   width:82.32em;
}

#header-container fieldset, form {
    border:0 none;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:0;
    padding:0;
}

#header-menu-find  {
   float:left;
   padding-bottom:0.835em;
   width:52.2em;
}

#header-menu-find form .textbox {
    background-color:#FFFFFF;
    border:1px inset #CCCCCC !important;
    color:#666666 !important;
    font-size:11px;
    margin:0 5px 0 1px;
    padding:2px 0 2px 2px;
    vertical-align:top;
    width:409px;
}

#header-menu-find form .button {
    background-color:#DDDDDD;
    border-color:#F3F3F3 #848484 #848484 #F3F3F3;
    border-style:outset;
    border-width:2px;
    color:#333333 !important;
    font-weight:bold;
    vertical-align:top;
    width:60px;
}

#header-menu-find ul {
    height:0.15em;
    margin-bottom:0.67em;
}

#header-menu-find ul li {
    display:inline;
    float:left;
    font-weight:bold;
    letter-spacing:-1px;
    margin-right:53px;
}

#header-menu-find ul li a {
    border-top:5px solid #FFFFFF;
    display:inline;
    float:left;
    font-size:1.75em;
    padding:0.2em 0 0;
    text-decoration:none;
}

#header-menu-find ul li.menu-first a {
    color:#E70202;
}

#header-marca {
   float:left;
   height:5.33em;
   margin:0.5em 2em 0 0;
   text-align:center;
   width:20em;
}

#header-marca a {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/jobs-now.png) no-repeat scroll center 0;
    display:block;
    height:64px;
    position:relative;
    z-index:2;
}

#header-marca a strong {
    display:none;
}

#header-login {
   display:inline;
   float:left;
   margin:0.55em 0 0;
   min-width:202px;
   width:16.83em;
}

#main {
   margin:0 auto;
   min-width:988px;
   text-align:left;
   width:82.32em;
}

#main-menu-left {
   float:left;
   min-width:132px;
   width:11em;
}

#main-info {
    min-width:832px;
    width:81.33em;
}

.main-info-details {
    min-width:746px;
    width:24.25em;
}

.box-cash {
    border:1px;
    margin-bottom:2em;
}

.box-cash-top {
    line-height:13px;
    padding:0 0 4px;
    border-bottom:1px solid #CCCCCC;
    overflow:hidden;
    padding:0 0 3px;
    vertical-align:bottom;
}

.box-cash-title-bar {
    line-height:13px;
}

.box-cash-title {
    line-height:13px;
}

.bc-title {
    float:left;
    font-weight:bold;
    margin:0;
    padding:0;
}

.bc-title_h5 {
    font-size:11px;
}

.main-info-details-first {
    margin-left:0
    !important;
}

#main-info-highlights {
    float:left;
    min-width:630px;
    width:52.4em;
}

#main-side {
    float:right;
    min-width:202px;
    width:16.83em;
}

#main-block {
    margin-top:-1.33em;
}

#main-jobs-now {
   float:right;
   min-width:964px;
   width:82.33em;
}

#main-menu-right {
   float:right;
   min-width:132px;
   width:11em;
}

#footer {
    background-color:#F5F5F5;
    clear:both;
    color:#666666;
    margin-top:3em;
    min-width:988px;
    padding:2.08em 0 3em;
}

