<div id="categories-2" class="widget widget_categories"><h3>Categorias</h3>		
	<ul>
		<% for category in Category.all %>
			<li class="cat-item cat-item-<%= category.id %>"><%= link_to category.name, "#" %> (0)</li>
		<% end %>
	</ul>
</div>