<div class="block">
  <h3>Ações</h3>
  <ul class="navigation">
    <li><%= link_to "Atualizar vagas anunciadas", job_listing_public_path, :method => :put, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %></li>
  </ul>
</div>

